.card-product {
  overflow: hidden;
  height: 300px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
   height: 100%;
  width: 400px;
  object-fit: cover;
   border-radius: 250px 10px 10px 250px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  margin: 10px;

}

.card-product h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 25px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 10px;
}
