.container {
  margin-top: 100px;
  padding: 10px;
}
// img {
//   border-radius: 50%;
//   height: 200px;
//   width: 200px;

// }
.information {
  overflow: hidden;
  height: 400px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 250px 10px 10px 250px;
}

.information img {
  height: 100%;
  width: 400px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  margin: 10px;
}

.information h2 {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.information p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.information .description {
  padding: 10px;
}

.price {

}
