<div class="container">
  <div class="cards">
    <% @fakes.each do |fake| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path( fake.category ) %>)">
        <%= link_to fake.nickname, fake_path(fake) %>
      </div>
    <% end %>
  </div>
</div>